{% extends 'base.html.twig' %}

{% block body %}
  {% block content %}

    <div class="user-posts mt-5">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          {% for post in allPosts | sort((a, b) => b.createdAt <=> a.createdAt) %}
            <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
              <div class="card h-100">
                <img src="{{ asset('images/posts/' ~ post.image) }}" class="card-img-top" alt="..." style="height:auto;">
                <div class="card-body">
                  <h5 class="card-title">{{ post.title }}</h5>
                  <p class="card-text">{{ post.content | slice(0, 100) }} <a href="{{ path('app_showpost', {id: post.id}) }}">...See more</a></p>
                  {% if (app.user.email == post.user.email) or (is_granted('ROLE_ADMIN')) %}
                    <div class="actions mb-2">
                      <a href="{{ path("app_deletepost", {id: post.id}) }}" onclick=" return confirm('Do you really want to delete this post? ')" class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i> Delete
                      </a>
                      <a href="{{ path('app_updatepost', {id: post.id}) }}" class="btn btn-info">
                        <i class="fas fa-edit"></i> Edit
                      </a>
                    </div>
                  {% endif %}
                </div>
                <div class="card-footer">
                  {% if post.updatedAt == null %}
                    <small class="text-muted">Edited on {{ post.createdAt | date('d/m/Y H:i') }}</small>
                  {% else %}
                    <small class="text-muted">Last updated {{ post.updatedAt | date('d/m/Y H:i') }}</small>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      
  {% endblock %}
{% endblock %}