{% extends 'layout.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="row align-items-center">
        <div class="col-lg-6 col-sm-12">
            <h1 class="h3 mb-5 font-weight-normal">Register</h1>
            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.name) }}
                {{ form_row(registrationForm.firstname) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="btn btn-primary">Register</button>
            {{ form_end(registrationForm) }}
        </div>
        <div class="col-lg-6 col-sm-12">
            <img src=" {{ asset('images/happy.svg') }}" alt="welcome to Creecolo" style="height:400px; width:auto;">
        </div>
    </div>
{% endblock %}
