{% extends 'layout.html.twig' %}

{% block title %}All categories{% endblock %}

{% block content %}

  <div class="container mt-5">

    <div class="row col-md-12 col-md-offset-2 custyle">
      <table class="table table-striped custab">
        <thead>
        <a href="{{ path('app_createcategory') }}" class="btn btn-primary btn-xs pull-right mb-5"><i class="fas fa-plus"></i> Add new category</a>

            <tr>
                <th>ID</th>
                <th>Label</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        {% for category in allCategories %}
              <tr>
                  <td>{{ category.id }}</td>
                  <td>{{ category.label }}</td>
                  <td class="text-center">
                    <a class='btn btn-info btn-xs' href="{{ path('app_updatecategory', {id: category.id}) }}">Edit</a> 
                    <a href="{{ path('app_deletecategory', {id: category.id}) }}" class="btn btn-danger btn-xs" onclick="return confirm('Do you really want to delete this category?')">Delete</a>
                  </td>
              </tr>
        {% endfor %}
      </table>
    </div>
  </div>

{% endblock %}