<footer class="footer-area footer--light mt-5">
  <div class="footer-big">
    <!-- start .container -->
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <div class="footer-widget">
            <div class="widget-about">
              <h4 class="footer-widget-title">Where to find us</h4>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d176587.99939939188!2d5.993018290016547!3d46.24650040721899!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c64435c4f494d%3A0x36df15160b218011!2zR2Vuw6h2ZSwgU3Vpc3Nl!5e0!3m2!1sfr!2sfr!4v1608820193760!5m2!1sfr!2sfr" width="250" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-4">
          <div class="footer-widget">
            <div class="footer-menu">
              <h4 class="footer-widget-title">Our Company</h4>
              <ul>
                <li>
                  <a href="{{ path('app_about_us') }}">About us</a>
                </li>
                <li>
                  <a href="{{ path('app_how_it_works') }}">How It Works</a>
                </li>
                <li>
                  <a href="{{ path('app_contact') }}">Contact Us</a>
                </li>
              </ul>
            </div>
            <!-- end /.footer-menu -->
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- end /.col-lg-3 -->

        <div class="col-md-3 col-sm-4">
          <div class="footer-widget">
            <div class="footer-menu no-padding">
              <h4 class="footer-widget-title">Help Support</h4>
              <ul>
                <li>
                  <a href="#">Terms &amp; Conditions</a>
                </li>
                <li>
                  <a href="{{ path('app_faq') }}">FAQs</a>
                </li>
                <li>
                  <a href="{{ path('app_legal_notice') }}">Mentions Légales</a>
                </li>
              </ul>
            </div>
            <!-- end /.footer-menu -->
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- Ends: .col-lg-3 -->

      </div>
      <!-- end /.row -->
    </div>
    <!-- end /.container -->
  </div>
  <!-- end /.footer-big -->
  <div class="mini-footer">
    {# <hr> #}
    <div class="container p-2">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright-text">
            <p>Copyright © 2020
              Creecolo. Created with ❤ by Virginie Lenoir
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>