{% extends 'base.html.twig' %}

{% block title %}  {% endblock %}

{% block body %}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_showallposts') }}">Creecolo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto flex-nowrap">
        {% if is_granted('ROLE_ADMIN') %}
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admin Dashboard
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ path('app_createcategory')}}">Create new category</a>
                <a class="dropdown-item" href="{{ path('app_showallcategories') }}">All categories</a>
                <a class="dropdown-item" href="{{ path('app_showallusers') }}">All users</a>
                <a class="dropdown-item" href="{{ path('app_showallcomments') }}">All comments</a>
              </div>
            </li>
          {% endif %}
            {% if app.user %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ app.user.firstname }} {{ app.user.name }} <i class="fas fa-user-alt"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ path('app_userprofile', {id: app.user.id })}}">My profile</a>
                <hr class="dropdown-divider">
                <a class="dropdown-item" href="{{path('app_logout')}}">Logout</a>
              </div>
            </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ path('app_login') }}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_register')}}">Register</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-5 mb-5">
{% block content %}


{% endblock %}
</div>

<footer>
</footer>


{% endblock %}