{% extends 'layout.html.twig' %}

{% block title %} Post {{ post.id }} {% endblock %}

{% block content %}

{% if (app.user.email == post.user.email) or (is_granted('ROLE_ADMIN')) %}
  <div class="actions col-lg-3 ml-auto">
    <a href="{{ path("app_deletepost", {id: post.id}) }}" onclick=" return confirm('Do you really want to delete this post? ')">
      <i class="fas fa-trash-alt text-danger"></i>
    </a>
    <a href="{{ path('app_updatepost', {id: post.id}) }}">
      <i class="fas fa-edit text-info ml-2 "></i>
    </a>
  </div>
{% endif %}

  <div class="container-fluid">
    <div class="row align-items-center">
      {% if post.image != NULL %}
        <img class="col-lg-6 col-md-6 col-sm-3" src="{{ asset('images/posts/' ~ post.image) }}" alt="article-img" style="max-width:400px;">
      {% endif %}
      <div class="col-lg-6 col-md-6 col-sm-6 ml-5">
        <h2>{{ post.title }}</h2>
        {% if post.updatedAt != NULL %}
          <small class="text-muted">Edit on {{ post.createdAt | format_datetime('medium', 'short') }}</small><br>
        {% else %}
          <small class="text-muted">Published on {{ post.createdAt | format_datetime('medium', 'short') }}</small>
        {% endif %}
        <p class="card-text"> <a href="{{ path('app_userprofile', {id: post.user.id })}}"><small class="text-muted">By {{ post.user.firstname }} {{ post.user.name }}</small></a></p>
        <p>{{ post.content }}</p>
      </div>
    </div>
    <div class="center justify-content-center d-flex">
      <a href="{{ path('app_createcomment', {id: post.id}) }}" class="btn btn-primary mt-5"><i class="fas fa-plus"></i> Add a comment</a>
    </div>
  </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
              <div class="card-header">
                <p>COMMENTS</p>
              </div>
              <div class="card card-white post p-2">
            {% if comments | length > 0 %}
                {% for comment in comments %}
                  <div class="post-heading">
                      <div class="float-left image">
                          <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                          {# {{ asset('images/posts/' ~ post.image) }} #}
                      </div>
                      <div class="float-left meta">
                          <div class="title h5">
                              <a href="{{ path('app_userprofile', {id: comment.user.id}) }}">{{ comment.user.firstname }} {{ comment.user.name }}</a>
                              made a comment
                          </div>
                          <h6 class="text-muted time">{{ comment.createdAt | format_datetime('medium', 'short') }}</h6>
                      </div>
                  </div> 
                  <div class="post-description"> 
                      <p>
                          {{comment.content}}
                      </p>
                  </div>
              {% endfor %} 
              {{ knp_pagination_render(commentsToPaginate) }}
              {% else %}
                <p class="post-description">No comments have been posted yet for this post.</p>  
              {% endif %}
                </div>
            </div>    
        </div>
    </div>
    {# {% for comment in comments %}
      {{comment.content}}
    {% endfor %} 
    {{ knp_pagination_render(commentsToPaginate) }} #}
{% endblock %}