{% extends 'layout.html.twig' %}

{% block title %} All posts {% endblock %}
{% block content %}

<div class="row">
  
  <div class="last-post col-lg-9 col-md-9">
    {% for post in allPosts %}
      <div class="card mb-3 ml-5 mr-5">
        <div class="card-header">
          <span class="row">
            <div class="left">
              <h6 class="ml-3">User name </h6>
              {% if post.updatedAt != NULL %}
                <p class="card-text ml-3"><small class="text-muted">Edité le {{ post.createdAt | date('d M Y')}}</small></p>
              {% else %}
                <p class="card-text ml-3"><small class="text-muted">Publié le {{ post.createdAt | date('d M Y')}}</small></p>
              {% endif %}
            </div>
            <div class="nav-point ml-auto">
              .
            </div>
          </span>
        </div>
        {% if post.image != NULL %}
          <img src="{{ asset('images/posts/' ~ post.image) }}" class="card-img-top" alt="...">
        {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.content | slice(0, 100)}} <a href="{{ path('app_showpost', {id: post.id}) }}">...Lire la suite</a></p>
            <div class="actions">
              <a href="{{ path("app_deletepost", {id: post.id}) }}" onclick=" return confirm('Do you really want to delete this post? ')">
                <i class="fas fa-trash-alt text-danger"></i>
              </a>
              <a href="{{ path('app_updatepost', {id: post.id}) }}">
                <i class="fas fa-edit text-info ml-2"></i>
              </a>
            </div>
          </div>
      </div>
    {% endfor %}
  </div>

<div class="menu-categories col-lg-3 col-md-3">
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      Search by categories
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="">Category 1</a> </li>
      <li class="list-group-item"> <a href="">Category 2</a> </li>
      <li class="list-group-item"><a href="">Category 3</a></li>
    </ul>
  </div>  
  <div class="add-post mt-3 mb-3">
    <h6><a href="{{ path('app_createpost')}}" class="btn btn-info"><i class="fas fa-plus"></i> Add a new post</a></h6>
  </div>
</div>

</div>
{% endblock %}