{% extends 'layout.html.twig' %}

{% block title %} {{ user.firstname }} {{ user.name }} {% endblock %}

{% block content %}

  <div class="heading" >
    <div class="row">
      <div class="image-profile col-2">
      {% if user.image != NULL %}
        <figure>
          <img src=" {{ asset('images/users/' ~ user.image) }}" alt="user profile picture">
        </figure>
      {% else %}
        <img src=" {{ asset('images/avatars/parrot-avatar.svg') }}" alt="default user picture">
      {% endif %}
      </div>
      <div class="about col-10">
        <h6 class="mb-4">{{ user.firstname }} {{ user.name }}</h6>
        <p>
          {% if user.description %}
            {{ user.description }}
          {% else %}
            No description yet
          {% endif %}
        </p>
        {% if app.user.email == user.email %}
          <a href="{{ path('app_createpost')}}" class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> Add a new post</a>
          <a href="{{ path('app_editprofile', {id: user.id})}}" class="btn btn-info btn-sm">Edit profile</a>
        {% endif %}
      </div>
    </div>
  </div>


  <div class="user-posts mt-5">
    {% if app.user.email == user.email %}
      <h5 class="mb-4">My posts</h5>
    {% else %}
      <h5 class="mb-4">Posts</h5>
    {% endif %}
    <hr class="mb-5">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for post in allPosts | sort((a, b) => b.createdAt <=> a.createdAt) %}
          <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
            <div class="card h-100">
              <img src="{{ asset('images/posts/' ~ post.image) }}" class="card-img-top" alt="..." style="height:auto;">
              <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content | slice(0, 100) }} <a href="{{ path('app_showpost', {id: post.id}) }}">...See more</a></p>
                {% if (app.user.email == post.user.email) or (is_granted('ROLE_ADMIN')) %}
                  <div class="actions mb-2">
                    <a href="{{ path("app_deletepost", {id: post.id}) }}" onclick=" return confirm('Do you really want to delete this post? ')" class="btn btn-danger">
                      <i class="fas fa-trash-alt"></i> Delete
                    </a>
                    <a href="{{ path('app_updatepost', {id: post.id}) }}" class="btn btn-info">
                      <i class="fas fa-edit"></i> Edit
                    </a>
                  </div>
                {% endif %}
              </div>
              <div class="card-footer">
                {% if post.updatedAt == null %}
                  <small class="text-muted">Edited on {{ post.createdAt | date('d/m/Y H:i') }}</small>
                {% else %}
                  <small class="text-muted">Last updated {{ post.updatedAt | date('d/m/Y H:i') }}</small>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
  </div>

{% endblock %}

