{% extends 'layout.html.twig' %}

{% block title %} {{ user.firstname }} {{ user.name }} {% endblock %}

{% block content %}

  <div class="heading" >
    <div class="row">
      <div class="image-profile col-2">
      {% if user.image != NULL %}
        <figure>
          <img src=" {{ asset('images/users/' ~ user.image) }}" alt="user profile picture">
        </figure>
      {% else %}
        No profile picture
      {% endif %}
      </div>
      <div class="about col-10">
        <h6 class="mb-4">{{ user.firstname }} {{ user.name }}</h6>
        <p>
          {% if user.description %}
            {{ user.description }}
          {% else %}
            No description yet
          {% endif %}
        </p>
        {% if app.user.email == user.email %}
          <a href="{{ path('app_createpost')}}" class="btn btn-info mr-1"><i class="fas fa-plus"></i> Add a new post</a>
          <a href="{{ path('app_editprofile', {id: user.id})}}" class="btn btn-outline-info ">Edit profile</a>
        {% endif %}
      </div>
    </div>
  </div>

  <!-- show tab -->
  <div class="nav-tab-content mt-5">
    <ul class="nav nav-tabs" id="userProfileTab">
      {% if app.user.email == user.email %}
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#userPosts"><h6>My Posts</h6></a></li>
      {% else %}
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#userPosts"><strong>Posts</strong></a></li>
      {% endif %}
      <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#postsLiked"><h6>Posts liked</h6></a></li>
    </ul>

    <div class="tab-content">
      <div id="userPosts" class="tab-pane fade show active mt-4">
        {% include 'user/partials/_userposts.html.twig' %}
      </div>
      <div id="postsLiked" class="tab-pane fade mt-4">
        {% include 'user/partials/_userlikes.html.twig' %}
      </div>
    </div>
  </div>
  <!-- end tab -->
{% endblock %}

