{% extends 'layout.html.twig' %}

{% block title %}All users{% endblock %}

{% block content %}

  <div class="container mt-5">
      <div class="row col-sm-6 col-md-6 col-lg-12 col-md-offset-2 custyle">
        <h4 class="mb-5">All users</h4>
        <table class="table table-striped custab">
          <thead>
              <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Firstname</th>
                  <th>Email</th>
                  <th>Roles</th>
                  <th>Posts</th>
                  <th>Action</th>
              </tr>
          </thead>
          {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles | join(', ')}}</td>
                    <td> <a href="{{ path('app_userprofile', {id: user.id })}}" class="btn btn-primary btn-sm">See user profile</a></td>
                    <td class="row col-12">
                    {% set breakLoop = false %}
                    {% for role in user.roles %}               
                      {% if (role == 'ROLE_ADMIN') and breakLoop == false %}
                        <a href="{{ path('app_removeadminroleuser', {id: user.id } )}}" class="btn btn-warning btn-sm ml-1 mb-1">Remove admin</a>
                        {% set breakLoop = true %}
                      {% elseif (role == 'ROLE_USER' ) and breakLoop == false %}
                        <a href="{{ path('app_promoteadminuser', {id: user.id}) }}" class="btn btn-success btn-sm ml-1 mb-1">Promote admin</a>
                        {% set breakLoop = true %}
                      {% endif %}
                    {% endfor %}
                      <a href="{{ path('app_deleteuser', {id: user.id}) }}" class="btn btn-danger btn-sm ml-1 mb-1" onclick="return confirm('Do you really want to delete this user?')">Delete user</i></a>
                    </td>
                </tr>
          {% endfor %}
        </table>
      </div>
  </div>

{% endblock %}